.container {
  text-align: center;
  padding: 10;
}

canvas#game-canvas {
  height: 400px;
  width: 800px;
  margin: 0 auto;
}

#root {
  text-align: center;
  border-bottom: 1px solid #afafaf;
  margin: 10px;
  background: lightcoral;
}

.result {
  visibility: hidden;
}
